root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{sh,command,py}]
indent_size = 4

[bin/popr]
indent_size = 4

[*.{json,yml,yaml,rb,js}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
